<img src="/assets/images/icecream.gif" data-still="/assets/images/icecream.gif"
	data-animate="/assets/images/icecream.gif" data-state="animate" alt="icecream gif" width="200px" class="gif">

<h1>Scoops Ice Cream Truck</h1>
<h4>I scream! You scream! We all scream for ice cream! </h4>

<h3> Welcome to the ice cream truck.</h3>


<div class="icecream">
	<div class="devour-me-answers">
		<h3>You've Ordered:</h3>
		{{#each icecream}}
		{{#unless devoured}}
		{{!-- Render devoured ice cream here --}}
		<h4>{{this.id}}. {{this.icecream_name}}</h4>
		<button class="devour-me" data-id="{{this.id}}" data-devoured="{{this.devoured}}">Devour</button>
		{{/unless}}
		{{/each}}
	</div>

<div class="icecream">
	<div class="devour-me-answers">
		<h3>Up for grabs:</h3>
		{{#each icecream}}
			{{#unless devoured}}
				<h4>{{this.id}}. {{this.icecream_name}}</h4>
				<button class="devour-me" data-id="{{this.id}}" data-devoured="{{this.devoured}}">Devour me!!</button>
			{{/unless}}
		{{/each}}
	</div>
	<div class="delete-me-answers">
		<h3>Finshed:</h3>
		{{#each icecream}}
			{{#if devoured}}
				<h4>{{this.id}}. {{this.icecream_name}}</h4>
				<button class="delete-me" data-id="{{this.id}}" data-devoured="{{this.devoured}}">Throw out!!</button>
			{{/if}}
		{{/each}}
	</div>
</div>

<h3>Pick your ice cream flavor and enjoy!</h3>
<form class="create-form">

	<div class="form-group">
		<label for="ba">What flavor ice cream would you like?</label>
		<input type="text" id="ba" name="icecream_name">
	</div>

	<button type="submit" id="submitButton">Place Order</button>
</form>